@tailwind base;
@tailwind components;
@tailwind utilities;



body,
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

}


@-moz-document url-prefix() {

  body,
  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

  }
}

*{
  border:0px solid red
}

